@mixin light {
    --body-background-gradient-1: #ffffff;
    --body-background-gradient-2: #f7f7f7;
}

@mixin dark {
    --body-background-gradient-1: #2c2937;
    --body-background-gradient-2: #191820;
}

:root {
    color-scheme: light;
    @include light;
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
        @include dark;
    }
}

[data-color-mode-switched='true'] {
    @media (prefers-color-scheme: light) {
        color-scheme: dark;
        @include dark;
    }
    @media (prefers-color-scheme: dark) {
        color-scheme: light;
        @include light;
    }
}
