:root {
    color-scheme: dark;
    --body-background-gradient: linear-gradient(
        115.99deg,
        #2c2937 0.93%,
        #191820 92.85%
    );

    --font-family-oswald: 'Oswald', Arial, sans-serif;
    --font-family-open-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto,
        Arial, sans-serif;

    --font-color: rgb(241, 241, 241);
    --font-color-gray: #7b7a7b;
    --font-color-dark-gray: #1c1c1c;
    --general-color: #5fcf8c;
    --general-color-dark: #3e865b;
}
