.wrapper {
    width: 100%;
}

.input {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    height: 45px;
    color: var(--font-color-gray);
    font-weight: 600;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

    &:focus,
    &:not([value='']) {
        background: var(--font-color);
        color: var(--font-color-dark-gray);
    }

    &::placeholder {
        color: var(--font-color-dark-gray);
        font-weight: 600;
    }
}

.customStar {
    font-family: var(--font-family-password);
    font-size: 14px;
    letter-spacing: 3px;
    &::placeholder {
        font-family: var(--font-family-open-sans);
        font-size: 18px;
        letter-spacing: 0;
    }
}
