.wrapper {
}

.button {
    color: var(--font-color);
    background-color: var(--general-color);
    padding: 8px 20px;
    font-size: 23px;
    display: block;
    box-sizing: border-box;
    font-family: var(--font-family-oswald);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    &:hover {
        background-color: var(--general-color-dark);
    }
}
